# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds
[Ll]ibrary/
sysinfo.txt
NativeHelper/iOS/lzma
NativeHelper/iOS/usymtool
NativeHelper/iOS/usymtool32
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db 
Assets/Test
Assets/Test.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
NativeHelper/Android/app/unity
NativeHelper/Android/app/bin
NativeHelper/Android/.gradle
NativeHelper/Android/**/local.properties
NativeHelper/Android/keystore.properties
NativeHelper/Android/**/.idea
NativeHelper/Android/**/build
NativeHelper/Android/**/*.iml
NativeHelper/Android/google_jenkins_secret.json
NativeHelper/iOS/Classes
NativeHelper/iOS/Data
NativeHelper/iOS/Libraries
# Auto generated launch screen / icon
NativeHelper/iOS/LaunchScreen-*
NativeHelper/iOS/Unity-iPhone/Images.xcassets/AppIcon.appiconset
NativeHelper/iOS/Unity-iPhone/Images.xcassets/LaunchImage.launchimage
NativeHelper/iOS/Unity-iPhone.xcodeproj/project.xcworkspace
NativeHelper/iOS/Unity-iPhone.xcodeproj/xcuserdata
# NativeHelper/iOS/Unity-iPhone.xcodeproj/xcshareddata # scheme is missing. workaround
NativeHelper/*/fastlane/README.md
NativeHelper/*/fastlane/report.xml
NativeHelper/iOS/fastlane/screenshots
NativeHelper/iOS/derivedData
NativeHelper/iOS/output
VPS3 Client.sublime-workspace
NativeHelper/Amazon/app/unity
NativeHelper/Amazon/app/bin
NativeHelper/Amazon/.gradle
NativeHelper/Amazon/**/local.properties
NativeHelper/Amazon/keystore.properties
NativeHelper/Amazon/**/.idea
NativeHelper/Amazon/**/build
NativeHelper/Amazon/**/*.iml
NativeHelper/Windows/Il2CppOutputProject
NativeHelper/Windows/ipch
NativeHelper/Windows/.vs
NativeHelper/Windows/Club Vegas/Managed
NativeHelper/Windows/Club Vegas/Data
NativeHelper/Windows/Club Vegas/Generated Files
NativeHelper/Windows/Club Vegas.VC.db
NativeHelper/Windows/Club Vegas.VC.VC.opendb
NativeHelper/Windows/Debug
NativeHelper/Windows/build
NativeHelper/Gameroom/Il2CppOutputProject
NativeHelper/Gameroom/ipch
NativeHelper/Gameroom/.vs
NativeHelper/Gameroom/Club Vegas/Managed
NativeHelper/Gameroom/Club Vegas/Data
NativeHelper/Gameroom/Club Vegas/Generated Files
NativeHelper/Gameroom/Club Vegas.VC.db
NativeHelper/Gameroom/Club Vegas.VC.VC.opendb
NativeHelper/Gameroom/Debug
NativeHelper/Gameroom/build
*.vcxproj.user
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs
NativeHelper/Windows/Lucky 88.sln
.vscode/settings.json
*.project
.idea
Assets/Plugins/Editor
Assets/Plugins/Editor.meta
ASSETBUNDLE/
NATIVE_PROJECT/
NATIVE_PROJECT_PROD/
ASSETBUNDLE_PROD/
ASSETBUNDLE_QA/
ASSETBUNDLE_TEAM/
NATIVE_PROJECT_QA/
NATIVE_PROJECT_TEAM/
