[submodule "Assets/SlotMaker"]
	path = Assets/SlotMaker
	url = http://47.109.83.158/v3-client/slotmaker.git
[submodule "Assets/Contents"]
	path = Assets/Contents
	url = http://47.109.83.158/v3-client/contents1.git
[submodule "TextMesh Pro"]
	path = Assets/Meta/Common Assets/TextMesh Pro
	url = http://47.109.83.158/v3-client/textmesh-pro.git
