<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345821437655-5od08ogr92rc0lu7lvmtfddj4gu01604.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345821437655-5od08ogr92rc0lu7lvmtfddj4gu01604</string>
	<key>API_KEY</key>
	<string>AIzaSyApw58KSWPwSaXAg3R0vzT8HuDJNU-4nx4</string>
	<key>GCM_SENDER_ID</key>
	<string>345821437655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bagelcode.v3proto</string>
	<key>PROJECT_ID</key>
	<string>slots1-306a1</string>
	<key>STORAGE_BUCKET</key>
	<string>slots1-306a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345821437655:ios:61b51fa7b3e48913</string>
	<key>DATABASE_URL</key>
	<string>https://slots1-306a1.firebaseio.com</string>
</dict>
</plist>