<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppDownloadUrl</key>
	<string>https://itunes.apple.com/app/id1201054588</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Club Vegas</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon57x57.png</string>
		<string>AppIcon57x57@2x.png</string>
		<string>AppIcon60x60@2x.png</string>
		<string>AppIcon72x72@2x~ipad.png</string>
		<string>AppIcon72x72~ipad.png</string>
		<string>AppIcon76x76@2x~ipad.png</string>
		<string>AppIcon76x76~ipad.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>27.0.0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>cd56a3f927f5cdc7a3ce5eb7669d11936c680104</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1881581215396162</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>Club Vegas</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6275604028997490~8089841926</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<!--Tabjob-->
		<key>NSExceptionDomains</key>
		<dict>
		   <key>localhost</key>
		   <dict>           
		       <key>NSExceptionAllowsInsecureHTTPLoads</key>
		       <true/>
		   </dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need photos to update your profile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need photos to update your profile</string>
	<key>ServerBaseUrl</key>
	<string>https://logic-team.slots1.bagelgames.com/api</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UnityCloudProjectID</key>
	<string>c660dcfe-1b70-4307-b73b-c9ac94dd90c1</string>
	<key>UnityCrashSubmissionURL</key>
	<string>https://perf-events.cloud.unity3d.com/symbolicate</string>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
	<key>adjust_app_secret</key>
	<string>2</string>
	<key>adjust_app_token</key>
	<string>qrclojmqdngg</string>
	<key>adjust_env</key>
	<string>sandbox</string>
	<key>adjust_info1</key>
	<string>2018262929</string>
	<key>adjust_info2</key>
	<string>1927348642</string>
	<key>adjust_info3</key>
	<string>353282181</string>
	<key>adjust_info4</key>
	<string>1889998292</string>
	<key>onesignal_app_id</key>
	<string>d3818ad5-d87f-4ca0-a067-0a53af0047e7</string>
	<key>SKAdNetworkItems</key>
	<array>
	   <!--SKAdNetwork ID-->
	   <!--IronSource-->
	   <dict>
	       <key>SKAdNetworkIdentifier</key>
	       <string>SU67R6K2V3.skadnetwork</string>
	   </dict>
	   <!--AdMob-->
	   <dict>
	        <key>SKAdNetworkIdentifier</key>
	        <string>cstr6suwn9.skadnetwork</string>
	    </dict>
	    <!--AppLovin-->
	    <dict>
	        <key>SKAdNetworkIdentifier</key>
	        <string>ludvb6z3bs.skadnetwork</string>
	    </dict>
	    <!--Tabjon-->
	    <dict>
	        <key>SKAdNetworkIdentifier</key>
	        <string>ECPZ2SRF59.skadnetwork</string>
	    </dict>
	    <!--Facebook-->
	    <dict> 
	        <key>SKAdNetworkIdentifier</key>
	        <string>v9wttpbfk9.skadnetwork</string>
	    </dict>
	    <dict>
	        <key>SKAdNetworkIdentifier</key>
	        <string>n38lu8286q.skadnetwork</string>
	    </dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This allows us to provide more relevant ads and to improve your gameplay experience.</string>
</dict>
</plist>
