<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AF_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,252},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,252},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,252},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,252},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,252},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,252},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,252},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_ball_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>AF_wildreveal_border_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,682},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1391,682},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,424},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,424},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,596},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,596},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,80},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,80},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,510},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,510},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,510},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1391,510},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,682},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,682},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,854},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1548,854},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,596},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1391,596},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,252},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,252},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,940},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1649,940},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,80},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,80},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,940},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1548,940},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,166},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{606,166},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,80},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,424},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,424},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,338},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,338},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,80},{99,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,80},{99,84}}</string>
				<key>sourceSize</key>
				<string>{99,84}</string>
			</dict>
			<key>AF_wildreveal_border_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,980},{68,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1750,980},{67,43}}</string>
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>AF_wildreveal_border_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,980},{68,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1820,980},{67,43}}</string>
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>AF_wildreveal_border_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,242},{68,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,242},{67,43}}</string>
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>AF_x2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,98},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,98},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>AF_x2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,30},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,30},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>AF_x2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,638},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,638},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>AF_x2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,356},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,356},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>AF_x2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,724},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1620,724},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>AF_x2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,288},{111,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,288},{110,66}}</string>
				<key>sourceSize</key>
				<string>{111,66}</string>
			</dict>
			<key>A_wildaniF_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,706},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,706},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,190},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{835,190},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,190},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{963,190},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,448},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1234,448},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,190},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{707,190},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,878},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1649,878},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildaniF_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,792},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1548,792},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_FG_Ani_01-8836af3c.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_FG_Ani_01-8836af3c.png</string>
		</dict>
	</dict>
</plist>
