<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1534},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1534},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1276},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1276},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1276},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1276},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1276},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1276},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1534},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,1534},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1534},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{420,1534},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{420,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1194,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1534},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1194,1534},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1792},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{678,1792},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1276},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1276},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_ball_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1534},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{678,1534},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>A_objA_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1410},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1278,1410},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,1802},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1838,1802},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1410},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1160,1410},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1031},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1031},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1540},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1540},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,1926},{116,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1838,1926},{115,121}}</string>
				<key>sourceSize</key>
				<string>{116,122}</string>
			</dict>
			<key>A_objA_bgGROW_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1074},{126,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1482,1074},{126,76}}</string>
				<key>sourceSize</key>
				<string>{126,77}</string>
			</dict>
			<key>A_objA_bgGROW_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1194},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{640,1194},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1479},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1580,1479},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1194},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,1194},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1561},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1698,1561},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1725},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1710,1725},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1458},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1458},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1194},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,1194},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1248},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,1248},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1194},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,1194},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1643},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1698,1643},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1328},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1160,1328},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1330},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,1330},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1073},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,1073},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,1376},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1396,1376},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1294},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1288,1294},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,1643},{126,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1826,1643},{126,80}}</string>
				<key>sourceSize</key>
				<string>{126,80}</string>
			</dict>
			<key>A_objA_bgGROW_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1103},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1772,1103},{126,73}}</string>
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>A_objA_bgGROW_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1096},{126,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{766,1096},{126,75}}</string>
				<key>sourceSize</key>
				<string>{126,76}</string>
			</dict>
			<key>A_objA_bgGROW_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1186},{126,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1900,1186},{126,66}}</string>
				<key>sourceSize</key>
				<string>{126,67}</string>
			</dict>
			<key>A_objA_bgGROW_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1064},{126,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1900,1064},{126,57}}</string>
				<key>sourceSize</key>
				<string>{126,58}</string>
			</dict>
			<key>A_objA_bgGROW_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{126,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,979},{126,49}}</string>
				<key>sourceSize</key>
				<string>{126,50}</string>
			</dict>
			<key>A_objA_bg_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,1459},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1708,1459},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,1357},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1886,1357},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1092},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,1092},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1092},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,1092},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,1275},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1524,1275},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,1172},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1364,1172},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1226},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1160,1226},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,1459},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1810,1459},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1146},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,1146},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1728,1255},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1728,1255},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,1192},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1262,1192},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,1357},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1784,1357},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1124},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,1124},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,1153},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1670,1153},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,1274},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1416,1274},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1174},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,1174},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,1070},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1380,1070},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1070},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1278,1070},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,1541},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1912,1541},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1255},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1830,1255},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1357},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1682,1357},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1568,1153},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1568,1153},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1092},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,1092},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,1172},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1466,1172},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1255},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1255},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1090},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1090},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1377},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1580,1377},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1174},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,1174},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1092},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,1092},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_bg_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1092},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{460,1092},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>A_objA_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1664},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1664},{123,126}}</string>
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>A_objAgrow_a_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1568},{160,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1568},{160,480}}</string>
				<key>sourceSize</key>
				<string>{160,480}</string>
			</dict>
			<key>A_wildani_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1124},{126,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1900,1124},{126,59}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>A_wildani_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1807},{126,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1710,1807},{126,118}}</string>
				<key>sourceSize</key>
				<string>{126,119}</string>
			</dict>
			<key>A_wildani_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1155},{126,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1155},{126,118}}</string>
				<key>sourceSize</key>
				<string>{126,119}</string>
			</dict>
			<key>A_wildani_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1928},{126,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1710,1928},{126,119}}</string>
				<key>sourceSize</key>
				<string>{126,120}</string>
			</dict>
			<key>A_wildani_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1412},{126,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,1412},{126,119}}</string>
				<key>sourceSize</key>
				<string>{126,120}</string>
			</dict>
			<key>A_wildani_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1155},{126,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1155},{126,118}}</string>
				<key>sourceSize</key>
				<string>{126,119}</string>
			</dict>
			<key>A_wildani_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,1571},{126,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1570,1571},{126,90}}</string>
				<key>sourceSize</key>
				<string>{126,91}</string>
			</dict>
			<key>A_wildani_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1070},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{894,1070},{126,73}}</string>
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>A_wildani_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1084},{126,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1610,1084},{126,66}}</string>
				<key>sourceSize</key>
				<string>{126,67}</string>
			</dict>
			<key>A_wildani_h001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1179},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1772,1179},{126,73}}</string>
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x2048-ETC2-FruitParty_MG_Ani_01-5acdb2c0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x2048-ETC2-FruitParty_MG_Ani_01-5acdb2c0.png</string>
		</dict>
	</dict>
</plist>
