<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CC_cselok_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,873},{153,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,873},{152,146}}</string>
				<key>sourceSize</key>
				<string>{153,147}</string>
			</dict>
			<key>CC_cselok_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,922},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,921},{100,97}}</string>
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>CC_cselok_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1434},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,1434},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>CC_cselok_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1332},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,1332},{97,100}}</string>
				<key>sourceSize</key>
				<string>{98,100}</string>
			</dict>
			<key>CC_cselok_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,920},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,920},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>CC_cselok_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,924},{95,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,924},{94,95}}</string>
				<key>sourceSize</key>
				<string>{95,96}</string>
			</dict>
			<key>CC_cselok_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,935},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{550,935},{86,84}}</string>
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>CC_cselok_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,937},{92,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{456,937},{91,82}}</string>
				<key>sourceSize</key>
				<string>{92,83}</string>
			</dict>
			<key>CC_cselok_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,823},{98,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,823},{97,94}}</string>
				<key>sourceSize</key>
				<string>{98,95}</string>
			</dict>
			<key>CC_cselok_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,662},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,662},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>CC_cselokh_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,764},{111,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,764},{110,106}}</string>
				<key>sourceSize</key>
				<string>{111,107}</string>
			</dict>
			<key>C_ball_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1022},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1022},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1022},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,1022},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1022},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1022},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1548,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1032,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1022},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1022},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1022},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1022},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1290,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>C_ball_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1536},{256,512}}</string>
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x2048-ETC2-FruitParty_BG3_Ani_01-67ad076d.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x2048-ETC2-FruitParty_BG3_Ani_01-67ad076d.png</string>
		</dict>
	</dict>
</plist>
