<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,600},{191,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{642,600},{190,53}}</string>
				<key>sourceSize</key>
				<string>{191,54}</string>
			</dict>
			<key>01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{249,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,312},{248,63}}</string>
				<key>sourceSize</key>
				<string>{249,64}</string>
			</dict>
			<key>01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,378},{249,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,378},{248,63}}</string>
				<key>sourceSize</key>
				<string>{249,64}</string>
			</dict>
			<key>01_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,899},{88,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,899},{88,63}}</string>
				<key>sourceSize</key>
				<string>{88,63}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,834},{88,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,834},{88,63}}</string>
				<key>sourceSize</key>
				<string>{88,63}</string>
			</dict>
			<key>02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,964},{211,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,964},{210,59}}</string>
				<key>sourceSize</key>
				<string>{211,60}</string>
			</dict>
			<key>02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{250,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,444},{249,64}}</string>
				<key>sourceSize</key>
				<string>{250,64}</string>
			</dict>
			<key>02_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,444},{249,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,444},{248,63}}</string>
				<key>sourceSize</key>
				<string>{249,64}</string>
			</dict>
			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,716},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{764,716},{33,32}}</string>
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{250,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,378},{249,63}}</string>
				<key>sourceSize</key>
				<string>{250,64}</string>
			</dict>
			<key>03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,444},{250,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,444},{249,63}}</string>
				<key>sourceSize</key>
				<string>{250,64}</string>
			</dict>
			<key>03_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,382},{256,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,382},{256,59}}</string>
				<key>sourceSize</key>
				<string>{256,60}</string>
			</dict>
			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,209},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,209},{33,32}}</string>
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,775},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,775},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>
			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,137},{60,57}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,138},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,138},{57,55}}</string>
				<key>sourceSize</key>
				<string>{58,56}</string>
			</dict>
			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,541},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{645,541},{60,56}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,519},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,519},{66,26}}</string>
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>
			<key>CB_objL01_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,654},{124,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,654},{123,111}}</string>
				<key>sourceSize</key>
				<string>{124,112}</string>
			</dict>
			<key>CB_objL01_009_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,146},{56,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,146},{55,51}}</string>
				<key>sourceSize</key>
				<string>{56,52}</string>
			</dict>
			<key>CB_objL02_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,196},{121,113}}</string>
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>CB_objL02_009_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,326},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,326},{54,53}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>CB_objL03_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,200},{119,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,200},{118,109}}</string>
				<key>sourceSize</key>
				<string>{119,110}</string>
			</dict>
			<key>CB_objL03_009_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,269},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{251,269},{53,51}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>CB_objL04_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,656},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{642,656},{119,109}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>
			<key>CB_objL04_009_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,83},{53,51}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>CC_objL05_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,323},{209,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{251,323},{208,52}}</string>
				<key>sourceSize</key>
				<string>{209,53}</string>
			</dict>
			<key>CC_objL05_009_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,243},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,243},{89,23}}</string>
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>CC_objL06_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,547},{127,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,547},{126,50}}</string>
				<key>sourceSize</key>
				<string>{127,51}</string>
			</dict>
			<key>CC_objL06_006_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,628},{56,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,628},{55,23}}</string>
				<key>sourceSize</key>
				<string>{56,24}</string>
			</dict>
			<key>C_await_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>C_await_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>C_await_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>C_await_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,510},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>C_await_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>C_numericbar_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,312},{20,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{462,312},{20,64}}</string>
				<key>sourceSize</key>
				<string>{20,64}</string>
			</dict>
			<key>C_numericbar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,65},{32,16}}</string>
				<key>sourceSize</key>
				<string>{32,16}</string>
			</dict>
			<key>C_numericbar_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,750},{128,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{764,750},{128,16}}</string>
				<key>sourceSize</key>
				<string>{128,16}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x1024-ETC2-FruitParty_BG_Ani_01-541a57f1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x1024-ETC2-FruitParty_BG_Ani_01-541a57f1.png</string>
		</dict>
	</dict>
</plist>
