<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,224},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,224},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,290},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,290},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,402},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,227},{64,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,227},{64,60}}</string>
				<key>sourceSize</key>
				<string>{64,61}</string>
			</dict>
			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,402},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,402},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,45},{63,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,79},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,79},{63,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>04_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,290},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,290},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,402},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,402},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>05_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,224},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{290,224},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,224},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,224},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,178},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,178},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,158},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,158},{62,63}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>07_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,290},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,80},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,80},{63,62}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,178},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,402},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,402},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,290},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,290},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>Scene_04_c01.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,45},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,45},{64,32}}</string>
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>Scene_04_c02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{128,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,111},{128,32}}</string>
				<key>sourceSize</key>
				<string>{128,32}</string>
			</dict>
			<key>Scene_04_c03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{344,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,145},{344,31}}</string>
				<key>sourceSize</key>
				<string>{344,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-512x512-ETC2-FruitParty_BG1_Ani_01-f34b6d3e.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-512x512-ETC2-FruitParty_BG1_Ani_01-f34b6d3e.png</string>
		</dict>
	</dict>
</plist>
