<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AF__frame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>AF_frameB_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,86},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,86},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_frameC.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>AF_roll_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1134,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1134,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameB_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1134,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frameC_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1458,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_frame_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,540},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1296,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,864},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{810,864},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,54},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,54},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,216},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,216},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,378},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,378},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>A_roll_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,702},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1296,702},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_Static_01-9a238cc7.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_Static_01-9a238cc7.png</string>
		</dict>
	</dict>
</plist>
