<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AF_led_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,335},{9,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{703,335},{8,46}}</string>
				<key>sourceSize</key>
				<string>{9,47}</string>
			</dict>
			<key>AF_led_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,323},{14,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{687,323},{13,58}}</string>
				<key>sourceSize</key>
				<string>{14,59}</string>
			</dict>
			<key>AF_led_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,196},{21,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,196},{20,77}}</string>
				<key>sourceSize</key>
				<string>{21,78}</string>
			</dict>
			<key>AF_led_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,162},{26,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,162},{25,89}}</string>
				<key>sourceSize</key>
				<string>{26,90}</string>
			</dict>
			<key>AF_led_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,276},{35,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,276},{34,105}}</string>
				<key>sourceSize</key>
				<string>{35,106}</string>
			</dict>
			<key>AF_led_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,125},{40,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,125},{40,126}}</string>
				<key>sourceSize</key>
				<string>{40,127}</string>
			</dict>
			<key>AF_led_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,123},{40,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,123},{40,128}}</string>
				<key>sourceSize</key>
				<string>{40,129}</string>
			</dict>
			<key>AF_led_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,156},{40,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{474,155},{39,95}}</string>
				<key>sourceSize</key>
				<string>{40,96}</string>
			</dict>
			<key>A_border_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,124},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,124},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,124},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,124},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,124},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_border_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x512-ETC2-FruitParty_Ani_05-ae1785fe.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x512-ETC2-FruitParty_Ani_05-ae1785fe.png</string>
		</dict>
	</dict>
</plist>
