<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_objaniH_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1560,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1690,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1560,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1690,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniH_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1560,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1690,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1690,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniI_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1560,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1820,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,246},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1560,376},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,506},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_objaniJ_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,116},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,116},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_Ani_02-e64bb49e.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-ETC2-FruitParty_Ani_02-e64bb49e.png</string>
		</dict>
	</dict>
</plist>
