<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CB_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,15},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,15},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>CB_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,145},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,145},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>CB_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,446},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,446},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>CB_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,480},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,480},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>CB_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,274},{110,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,274},{109,107}}</string>
				<key>sourceSize</key>
				<string>{110,108}</string>
			</dict>
			<key>CB_ball_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,144},{110,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,144},{109,107}}</string>
				<key>sourceSize</key>
				<string>{110,108}</string>
			</dict>
			<key>CB_ballsel_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_ballsel_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_ballsel_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,124},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_ballsel_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_ballsel_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_ballsel_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>CB_light_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,49},{101,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,48},{100,92}}</string>
				<key>sourceSize</key>
				<string>{101,93}</string>
			</dict>
			<key>CB_light_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,179},{106,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,178},{105,92}}</string>
				<key>sourceSize</key>
				<string>{106,93}</string>
			</dict>
			<key>CB_light_01_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,29},{109,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,29},{108,92}}</string>
				<key>sourceSize</key>
				<string>{109,93}</string>
			</dict>
			<key>CB_light_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,49},{54,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,49},{53,128}}</string>
				<key>sourceSize</key>
				<string>{54,128}</string>
			</dict>
			<key>CB_light_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,254},{71,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{372,254},{70,128}}</string>
				<key>sourceSize</key>
				<string>{71,128}</string>
			</dict>
			<key>CB_light_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,49},{56,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,49},{55,128}}</string>
				<key>sourceSize</key>
				<string>{56,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-512x512-ETC2-FruitParty_BG2_Ani_01-6cf75fcb.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-512x512-ETC2-FruitParty_BG2_Ani_01-6cf75fcb.png</string>
		</dict>
	</dict>
</plist>
