<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>E_mask_light_a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,318},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,318},{128,63}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>E_mask_light_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>E_mask_light_c_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>E_mask_light_d_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,254},{128,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>E_mask_light_e_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>E_mask_light_f_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,188},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>E_mask_light_g_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,318},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,318},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>E_musicA_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,194},{64,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,194},{64,121}}</string>
				<key>sourceSize</key>
				<string>{64,122}</string>
			</dict>
			<key>E_musicB_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,188},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,188},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicC_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,188},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,188},{64,127}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicD_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{60,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,58},{59,128}}</string>
				<key>sourceSize</key>
				<string>{60,128}</string>
			</dict>
			<key>E_musicE_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,258},{64,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,258},{64,124}}</string>
				<key>sourceSize</key>
				<string>{64,125}</string>
			</dict>
			<key>E_musicF_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,385},{64,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,385},{64,126}}</string>
				<key>sourceSize</key>
				<string>{64,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-512x512-ETC2-BeansTalk_Bonus3Atlas-ec759daa.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-512x512-ETC2-BeansTalk_Bonus3Atlas-ec759daa.png</string>
		</dict>
	</dict>
</plist>
