<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>E_giant_b_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,263},{177,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,263},{176,319}}</string>
				<key>sourceSize</key>
				<string>{177,320}</string>
			</dict>
			<key>E_giant_b_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,289},{189,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1220,289},{188,316}}</string>
				<key>sourceSize</key>
				<string>{189,317}</string>
			</dict>
			<key>E_giant_b_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,277},{197,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{500,277},{196,335}}</string>
				<key>sourceSize</key>
				<string>{197,336}</string>
			</dict>
			<key>E_giant_b_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,585},{217,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{732,585},{216,495}}</string>
				<key>sourceSize</key>
				<string>{217,496}</string>
			</dict>
			<key>E_giant_b_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1569},{253,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1569},{252,478}}</string>
				<key>sourceSize</key>
				<string>{253,479}</string>
			</dict>
			<key>E_giant_b_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,174},{254,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,174},{253,423}}</string>
				<key>sourceSize</key>
				<string>{254,424}</string>
			</dict>
			<key>E_giant_b_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,660},{251,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1708,660},{250,422}}</string>
				<key>sourceSize</key>
				<string>{251,423}</string>
			</dict>
			<key>E_giant_b_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,197},{247,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1464,197},{246,433}}</string>
				<key>sourceSize</key>
				<string>{247,434}</string>
			</dict>
			<key>E_giant_b_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,633},{242,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1464,633},{241,449}}</string>
				<key>sourceSize</key>
				<string>{242,450}</string>
			</dict>
			<key>E_giant_b_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,615},{242,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,615},{241,464}}</string>
				<key>sourceSize</key>
				<string>{242,465}</string>
			</dict>
			<key>E_giant_b_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,608},{242,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1220,608},{241,474}}</string>
				<key>sourceSize</key>
				<string>{242,475}</string>
			</dict>
			<key>E_giant_b_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,1085},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1719,1085},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,1567},{242,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1719,1567},{241,480}}</string>
				<key>sourceSize</key>
				<string>{242,481}</string>
			</dict>
			<key>E_giant_b_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1566},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{743,1566},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
			<key>E_giant_b_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1085},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1085},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
			<key>E_giant_b_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1082},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,1082},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
			<key>E_giant_b_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1082},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,1082},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
			<key>E_giant_b_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,603},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{976,603},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1085},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{987,1085},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1085},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1231,1085},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,1085},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1475,1085},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1083},{242,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{732,1083},{241,480}}</string>
				<key>sourceSize</key>
				<string>{242,481}</string>
			</dict>
			<key>E_giant_b_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,1567},{242,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1475,1567},{241,480}}</string>
				<key>sourceSize</key>
				<string>{242,481}</string>
			</dict>
			<key>E_giant_b_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1567},{242,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1231,1567},{241,480}}</string>
				<key>sourceSize</key>
				<string>{242,481}</string>
			</dict>
			<key>E_giant_b_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1566},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,1566},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
			<key>E_giant_b_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,600},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,600},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,121},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{242,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,603},{241,479}}</string>
				<key>sourceSize</key>
				<string>{242,480}</string>
			</dict>
			<key>E_giant_b_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1567},{242,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{987,1567},{241,480}}</string>
				<key>sourceSize</key>
				<string>{242,481}</string>
			</dict>
			<key>E_giant_b_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1566},{242,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{499,1566},{241,481}}</string>
				<key>sourceSize</key>
				<string>{242,482}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x2048-Crunch-BeansTalk_BonusGame3_04-48eb1262.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x2048-Crunch-BeansTalk_BonusGame3_04-48eb1262.png</string>
		</dict>
	</dict>
</plist>
