<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>E_giant_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,98},{160,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{328,98},{159,187}}</string>
				<key>sourceSize</key>
				<string>{160,188}</string>
			</dict>
			<key>E_giant_b_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,340},{160,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{792,340},{159,190}}</string>
				<key>sourceSize</key>
				<string>{160,191}</string>
			</dict>
			<key>E_giant_b_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,533},{159,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{777,533},{158,197}}</string>
				<key>sourceSize</key>
				<string>{159,198}</string>
			</dict>
			<key>E_giant_b_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,102},{157,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{634,102},{156,204}}</string>
				<key>sourceSize</key>
				<string>{157,205}</string>
			</dict>
			<key>E_giant_b_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,309},{156,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{634,309},{155,209}}</string>
				<key>sourceSize</key>
				<string>{156,210}</string>
			</dict>
			<key>E_giant_b_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,315},{159,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{328,315},{158,210}}</string>
				<key>sourceSize</key>
				<string>{159,211}</string>
			</dict>
			<key>E_giant_b_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,250},{160,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,250},{159,211}}</string>
				<key>sourceSize</key>
				<string>{160,212}</string>
			</dict>
			<key>E_giant_b_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,521},{163,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{612,521},{162,209}}</string>
				<key>sourceSize</key>
				<string>{163,210}</string>
			</dict>
			<key>E_giant_b_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,528},{167,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,528},{166,206}}</string>
				<key>sourceSize</key>
				<string>{167,207}</string>
			</dict>
			<key>E_giant_b_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{164,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,204},{163,207}}</string>
				<key>sourceSize</key>
				<string>{164,208}</string>
			</dict>
			<key>E_giant_b_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,464},{154,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,464},{153,227}}</string>
				<key>sourceSize</key>
				<string>{154,228}</string>
			</dict>
			<key>E_giant_b_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,288},{143,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,288},{142,230}}</string>
				<key>sourceSize</key>
				<string>{143,231}</string>
			</dict>
			<key>E_giant_b_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,747},{139,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{582,747},{138,276}}</string>
				<key>sourceSize</key>
				<string>{139,277}</string>
			</dict>
			<key>E_giant_b_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,737},{137,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,737},{136,286}}</string>
				<key>sourceSize</key>
				<string>{137,287}</string>
			</dict>
			<key>E_giant_b_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,694},{136,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,694},{135,329}}</string>
				<key>sourceSize</key>
				<string>{136,330}</string>
			</dict>
			<key>E_giant_b_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,741},{133,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,741},{132,282}}</string>
				<key>sourceSize</key>
				<string>{133,283}</string>
			</dict>
			<key>E_giant_b_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{132,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,414},{131,284}}</string>
				<key>sourceSize</key>
				<string>{132,285}</string>
			</dict>
			<key>E_giant_b_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,733},{131,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,733},{130,290}}</string>
				<key>sourceSize</key>
				<string>{131,291}</string>
			</dict>
			<key>E_giant_b_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,717},{144,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,717},{143,306}}</string>
				<key>sourceSize</key>
				<string>{144,307}</string>
			</dict>
			<key>E_giant_b_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,701},{157,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,701},{156,322}}</string>
				<key>sourceSize</key>
				<string>{157,323}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_BonusGame3_03-501c3799.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_BonusGame3_03-501c3799.png</string>
		</dict>
	</dict>
</plist>
