<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_womanB_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,10},{195,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,10},{194,256}}</string>
				<key>sourceSize</key>
				<string>{195,256}</string>
			</dict>
			<key>D_womanB_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,258},{214,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,258},{213,253}}</string>
				<key>sourceSize</key>
				<string>{214,254}</string>
			</dict>
			<key>D_womanB_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{223,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,268},{222,243}}</string>
				<key>sourceSize</key>
				<string>{223,244}</string>
			</dict>
			<key>D_womanB_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,26},{210,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,26},{209,229}}</string>
				<key>sourceSize</key>
				<string>{210,230}</string>
			</dict>
			<key>D_womanB_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,300},{183,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,300},{182,211}}</string>
				<key>sourceSize</key>
				<string>{183,212}</string>
			</dict>
			<key>D_womanB_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,319},{179,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{626,319},{178,192}}</string>
				<key>sourceSize</key>
				<string>{179,193}</string>
			</dict>
			<key>D_womanB_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,327},{167,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{807,327},{166,184}}</string>
				<key>sourceSize</key>
				<string>{167,185}</string>
			</dict>
			<key>D_womanB_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,137},{125,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,137},{124,160}}</string>
				<key>sourceSize</key>
				<string>{125,161}</string>
			</dict>
			<key>D_womanB_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,163},{117,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,163},{116,134}}</string>
				<key>sourceSize</key>
				<string>{117,135}</string>
			</dict>
			<key>D_womanB_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,56},{95,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{409,56},{94,78}}</string>
				<key>sourceSize</key>
				<string>{95,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x512-Crunch-BeansTalk_BonusGame1_03-49026860.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x512-Crunch-BeansTalk_BonusGame1_03-49026860.png</string>
		</dict>
	</dict>
</plist>
