<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_objectKgrowA_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,110},{123,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1008,110},{122,401}}</string>
				<key>sourceSize</key>
				<string>{123,402}</string>
			</dict>
			<key>A_objectKgrowA_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,89},{122,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{354,89},{121,422}}</string>
				<key>sourceSize</key>
				<string>{122,423}</string>
			</dict>
			<key>A_objectKgrowA_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,96},{117,432}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1497,96},{116,431}}</string>
				<key>sourceSize</key>
				<string>{117,432}</string>
			</dict>
			<key>A_objectKgrowA_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,96},{118,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1755,96},{117,439}}</string>
				<key>sourceSize</key>
				<string>{118,440}</string>
			</dict>
			<key>A_objectKgrowA_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,63},{117,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,63},{116,448}}</string>
				<key>sourceSize</key>
				<string>{117,449}</string>
			</dict>
			<key>A_objectKgrowA_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,57},{109,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{478,57},{108,454}}</string>
				<key>sourceSize</key>
				<string>{109,455}</string>
			</dict>
			<key>A_objectKgrowA_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,71},{111,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1384,71},{110,462}}</string>
				<key>sourceSize</key>
				<string>{111,463}</string>
			</dict>
			<key>A_objectKgrowA_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,44},{114,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,44},{113,467}}</string>
				<key>sourceSize</key>
				<string>{114,468}</string>
			</dict>
			<key>A_objectKgrowA_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,551},{116,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1876,551},{115,472}}</string>
				<key>sourceSize</key>
				<string>{116,473}</string>
			</dict>
			<key>A_objectKgrowA_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{117,477}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,35},{116,476}}</string>
				<key>sourceSize</key>
				<string>{117,477}</string>
			</dict>
			<key>A_objectKgrowA_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,56},{118,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1635,56},{117,479}}</string>
				<key>sourceSize</key>
				<string>{118,480}</string>
			</dict>
			<key>A_objectKgrowA_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1756,540},{118,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1756,540},{117,483}}</string>
				<key>sourceSize</key>
				<string>{118,484}</string>
			</dict>
			<key>A_objectKgrowA_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,538},{119,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1635,538},{118,485}}</string>
				<key>sourceSize</key>
				<string>{119,486}</string>
			</dict>
			<key>A_objectKgrowA_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,536},{125,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1383,536},{124,487}}</string>
				<key>sourceSize</key>
				<string>{125,488}</string>
			</dict>
			<key>A_objectKgrowA_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,530},{123,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1510,530},{122,493}}</string>
				<key>sourceSize</key>
				<string>{123,494}</string>
			</dict>
			<key>A_objectKgrowA_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,21},{124,498}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1258,21},{123,497}}</string>
				<key>sourceSize</key>
				<string>{124,498}</string>
			</dict>
			<key>A_objectKgrowA_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,521},{123,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1258,521},{122,502}}</string>
				<key>sourceSize</key>
				<string>{123,503}</string>
			</dict>
			<key>A_objectKgrowA_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,515},{124,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{758,515},{123,508}}</string>
				<key>sourceSize</key>
				<string>{124,509}</string>
			</dict>
			<key>A_objectKgrowA_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,2},{123,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,2},{122,510}}</string>
				<key>sourceSize</key>
				<string>{123,510}</string>
			</dict>
			<key>A_objectKgrowA_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,514},{123,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1009,514},{122,510}}</string>
				<key>sourceSize</key>
				<string>{123,510}</string>
			</dict>
			<key>A_objectKgrowA_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,514},{122,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1134,514},{121,510}}</string>
				<key>sourceSize</key>
				<string>{122,510}</string>
			</dict>
			<key>A_objectKgrowA_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,514},{123,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{884,514},{122,510}}</string>
				<key>sourceSize</key>
				<string>{123,510}</string>
			</dict>
			<key>A_objectKgrowA_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,3},{123,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{758,3},{122,510}}</string>
				<key>sourceSize</key>
				<string>{123,510}</string>
			</dict>
			<key>A_objectKgrowA_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,514},{124,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,514},{123,510}}</string>
				<key>sourceSize</key>
				<string>{124,510}</string>
			</dict>
			<key>A_objectKgrowA_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,514},{124,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,514},{123,510}}</string>
				<key>sourceSize</key>
				<string>{124,510}</string>
			</dict>
			<key>A_objectKgrowA_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{125,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,514},{124,510}}</string>
				<key>sourceSize</key>
				<string>{125,510}</string>
			</dict>
			<key>A_objectKgrowA_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,514},{125,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,514},{124,510}}</string>
				<key>sourceSize</key>
				<string>{125,510}</string>
			</dict>
			<key>A_objectKgrowA_059.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,514},{124,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{506,514},{123,510}}</string>
				<key>sourceSize</key>
				<string>{124,510}</string>
			</dict>
			<key>A_objectKgrowA_060.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,514},{124,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,514},{123,510}}</string>
				<key>sourceSize</key>
				<string>{124,510}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_MainGameAtlas02-1b9691b0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_MainGameAtlas02-1b9691b0.png</string>
		</dict>
	</dict>
</plist>
