<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AF_o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o2.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o3.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o5.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o6.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_o8.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AF_roll_o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,380},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,380},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,508},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,508},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,380},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o4.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,380},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,380},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,508},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,252},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o7.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,508},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,508},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_o8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,124},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_roll_w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,252},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,252},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>AF_w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-512x1024-ETC2-BeansTalk_FreeGameAtlas-9bb754b3.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-512x1024-ETC2-BeansTalk_FreeGameAtlas-9bb754b3.png</string>
		</dict>
	</dict>
</plist>
