<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>C_jack_a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,385},{39,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{948,385},{38,26}}</string>
				<key>sourceSize</key>
				<string>{39,27}</string>
			</dict>
			<key>C_jack_a_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,373},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{909,373},{36,38}}</string>
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
			<key>C_jack_a_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,586},{60,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,586},{59,66}}</string>
				<key>sourceSize</key>
				<string>{60,67}</string>
			</dict>
			<key>C_jack_a_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,179},{50,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1111,179},{49,119}}</string>
				<key>sourceSize</key>
				<string>{50,120}</string>
			</dict>
			<key>C_jack_a_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,193},{91,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1018,193},{90,105}}</string>
				<key>sourceSize</key>
				<string>{91,106}</string>
			</dict>
			<key>C_jack_a_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,567},{91,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1597,567},{90,97}}</string>
				<key>sourceSize</key>
				<string>{91,98}</string>
			</dict>
			<key>C_jack_a_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,297},{86,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1267,297},{85,99}}</string>
				<key>sourceSize</key>
				<string>{86,100}</string>
			</dict>
			<key>C_jack_a_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,396},{78,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1389,396},{77,128}}</string>
				<key>sourceSize</key>
				<string>{78,128}</string>
			</dict>
			<key>C_jack_a_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,156},{95,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,156},{94,87}}</string>
				<key>sourceSize</key>
				<string>{95,88}</string>
			</dict>
			<key>C_jack_a_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,559},{98,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1497,559},{97,92}}</string>
				<key>sourceSize</key>
				<string>{98,93}</string>
			</dict>
			<key>C_jack_a_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,689},{98,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1742,689},{97,95}}</string>
				<key>sourceSize</key>
				<string>{98,95}</string>
			</dict>
			<key>C_jack_a_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,557},{98,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1397,557},{97,95}}</string>
				<key>sourceSize</key>
				<string>{98,95}</string>
			</dict>
			<key>C_jack_a_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,910},{95,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1684,910},{94,113}}</string>
				<key>sourceSize</key>
				<string>{95,114}</string>
			</dict>
			<key>C_jack_a_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,667},{83,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1586,667},{82,110}}</string>
				<key>sourceSize</key>
				<string>{83,111}</string>
			</dict>
			<key>C_jack_a_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,462},{83,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1597,462},{82,102}}</string>
				<key>sourceSize</key>
				<string>{83,103}</string>
			</dict>
			<key>C_jack_a_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,452},{83,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1469,452},{82,102}}</string>
				<key>sourceSize</key>
				<string>{83,103}</string>
			</dict>
			<key>C_jack_a_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,357},{83,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1554,357},{82,102}}</string>
				<key>sourceSize</key>
				<string>{83,103}</string>
			</dict>
			<key>C_jack_a_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,584},{83,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1690,584},{82,102}}</string>
				<key>sourceSize</key>
				<string>{83,103}</string>
			</dict>
			<key>C_jack_a_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,192},{83,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1267,192},{82,102}}</string>
				<key>sourceSize</key>
				<string>{83,103}</string>
			</dict>
			<key>C_jack_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_b_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_c_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,654},{88,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1496,654},{87,123}}</string>
				<key>sourceSize</key>
				<string>{88,124}</string>
			</dict>
			<key>C_jack_c_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,656},{95,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1399,656},{94,128}}</string>
				<key>sourceSize</key>
				<string>{95,128}</string>
			</dict>
			<key>C_jack_c_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,124},{128,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,124},{127,123}}</string>
				<key>sourceSize</key>
				<string>{128,124}</string>
			</dict>
			<key>C_jack_c_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_c_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_c_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,301},{128,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1039,301},{128,112}}</string>
				<key>sourceSize</key>
				<string>{128,113}</string>
			</dict>
			<key>C_jack_c_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_c_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,507},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,507},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,127}</string>
			</dict>
			<key>C_jack_c_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,909},{128,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1424,909},{128,114}}</string>
				<key>sourceSize</key>
				<string>{128,115}</string>
			</dict>
			<key>C_jack_c_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,531},{115,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,531},{114,128}}</string>
				<key>sourceSize</key>
				<string>{115,128}</string>
			</dict>
			<key>C_jack_d_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,636},{127,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,636},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,246},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,506},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,376},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,506},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,246},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,246},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,506},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,506},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_d_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,376},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_e_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,399},{88,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1299,399},{87,124}}</string>
				<key>sourceSize</key>
				<string>{88,125}</string>
			</dict>
			<key>C_jack_e_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,780},{96,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1554,780},{95,128}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>
			<key>C_jack_e_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,655},{128,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,655},{127,116}}</string>
				<key>sourceSize</key>
				<string>{128,117}</string>
			</dict>
			<key>C_jack_e_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,661},{128,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1170,661},{127,114}}</string>
				<key>sourceSize</key>
				<string>{128,115}</string>
			</dict>
			<key>C_jack_e_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,910},{128,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1554,910},{127,113}}</string>
				<key>sourceSize</key>
				<string>{128,114}</string>
			</dict>
			<key>C_jack_e_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,418},{128,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,418},{127,110}}</string>
				<key>sourceSize</key>
				<string>{128,111}</string>
			</dict>
			<key>C_jack_e_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,414},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{909,414},{127,115}}</string>
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>C_jack_e_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,786},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1283,786},{127,115}}</string>
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>C_jack_e_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,416},{128,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1039,416},{127,113}}</string>
				<key>sourceSize</key>
				<string>{128,114}</string>
			</dict>
			<key>C_jack_e_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,794},{128,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1424,794},{127,112}}</string>
				<key>sourceSize</key>
				<string>{128,113}</string>
			</dict>
			<key>C_jack_f_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,783},{88,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1652,783},{87,124}}</string>
				<key>sourceSize</key>
				<string>{88,125}</string>
			</dict>
			<key>C_jack_f_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,526},{96,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1299,526},{95,128}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>
			<key>C_jack_f_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,251},{128,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,251},{127,122}}</string>
				<key>sourceSize</key>
				<string>{128,123}</string>
			</dict>
			<key>C_jack_f_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,653},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,653},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>C_jack_f_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,904},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1034,904},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>C_jack_f_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,775},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,775},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>C_jack_f_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,122},{128,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,122},{127,123}}</string>
				<key>sourceSize</key>
				<string>{128,124}</string>
			</dict>
			<key>C_jack_f_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,248},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,248},{127,125}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>C_jack_f_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,904},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1164,904},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>C_jack_f_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,904},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1294,904},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>C_jack_g_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,786},{88,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1742,786},{87,121}}</string>
				<key>sourceSize</key>
				<string>{88,122}</string>
			</dict>
			<key>C_jack_g_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,656},{97,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,656},{96,127}}</string>
				<key>sourceSize</key>
				<string>{97,128}</string>
			</dict>
			<key>C_jack_g_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,378},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,378},{127,126}}</string>
				<key>sourceSize</key>
				<string>{128,127}</string>
			</dict>
			<key>C_jack_g_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,379},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{779,379},{127,125}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>C_jack_g_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,636},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_g_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,896},{127,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_g_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,532},{128,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,532},{127,118}}</string>
				<key>sourceSize</key>
				<string>{128,119}</string>
			</dict>
			<key>C_jack_g_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,636},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_g_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,378},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,378},{127,126}}</string>
				<key>sourceSize</key>
				<string>{128,127}</string>
			</dict>
			<key>C_jack_g_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,250},{128,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,250},{127,125}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>C_jack_h_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,288},{96,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,288},{95,128}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>
			<key>C_jack_h_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,778},{120,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1161,778},{119,123}}</string>
				<key>sourceSize</key>
				<string>{120,124}</string>
			</dict>
			<key>C_jack_h_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,774},{119,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,774},{118,128}}</string>
				<key>sourceSize</key>
				<string>{119,128}</string>
			</dict>
			<key>C_jack_h_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,766},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_h_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,506},{127,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,506},{126,128}}</string>
				<key>sourceSize</key>
				<string>{127,128}</string>
			</dict>
			<key>C_jack_h_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,507},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{779,507},{127,126}}</string>
				<key>sourceSize</key>
				<string>{128,127}</string>
			</dict>
			<key>C_jack_h_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,896},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,896},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_h_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,507},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,507},{127,126}}</string>
				<key>sourceSize</key>
				<string>{128,127}</string>
			</dict>
			<key>C_jack_h_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,376},{127,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,376},{126,128}}</string>
				<key>sourceSize</key>
				<string>{127,128}</string>
			</dict>
			<key>C_jack_h_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{127,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,116},{126,128}}</string>
				<key>sourceSize</key>
				<string>{127,128}</string>
			</dict>
			<key>C_jack_i_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,246},{124,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,246},{123,128}}</string>
				<key>sourceSize</key>
				<string>{124,128}</string>
			</dict>
			<key>C_jack_i_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,766},{127,127}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_i_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,636},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,636},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_i_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,766},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,766},{127,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>C_jack_i_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,376},{125,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,376},{124,127}}</string>
				<key>sourceSize</key>
				<string>{125,128}</string>
			</dict>
			<key>C_jack_i_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,117},{124,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,117},{123,126}}</string>
				<key>sourceSize</key>
				<string>{124,127}</string>
			</dict>
			<key>C_jack_i_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,122},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,122},{121,126}}</string>
				<key>sourceSize</key>
				<string>{122,127}</string>
			</dict>
			<key>C_jack_i_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,120},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{894,120},{121,126}}</string>
				<key>sourceSize</key>
				<string>{122,127}</string>
			</dict>
			<key>C_jack_i_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,120},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{770,120},{121,126}}</string>
				<key>sourceSize</key>
				<string>{122,127}</string>
			</dict>
			<key>C_jack_i_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,249},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{776,249},{121,126}}</string>
				<key>sourceSize</key>
				<string>{122,127}</string>
			</dict>
			<key>C_jack_i_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,897},{122,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,897},{121,126}}</string>
				<key>sourceSize</key>
				<string>{122,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_BonusGame2_03-0c3e69e2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_BonusGame2_03-0c3e69e2.png</string>
		</dict>
	</dict>
</plist>
