<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>C_giant_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,16},{254,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,16},{254,141}}</string>
				<key>sourceSize</key>
				<string>{254,142}</string>
			</dict>
			<key>C_giant_b_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,154},{254,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,154},{254,151}}</string>
				<key>sourceSize</key>
				<string>{254,152}</string>
			</dict>
			<key>C_giant_b_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,193},{254,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,193},{254,159}}</string>
				<key>sourceSize</key>
				<string>{254,160}</string>
			</dict>
			<key>C_giant_b_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,355},{254,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,355},{254,167}}</string>
				<key>sourceSize</key>
				<string>{254,168}</string>
			</dict>
			<key>C_giant_b_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{254,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,111},{254,171}}</string>
				<key>sourceSize</key>
				<string>{254,172}</string>
			</dict>
			<key>C_giant_b_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,160},{254,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,160},{254,173}}</string>
				<key>sourceSize</key>
				<string>{254,174}</string>
			</dict>
			<key>C_giant_b_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,336},{254,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,336},{254,175}}</string>
				<key>sourceSize</key>
				<string>{254,176}</string>
			</dict>
			<key>C_giant_b_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,308},{254,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,308},{254,203}}</string>
				<key>sourceSize</key>
				<string>{254,204}</string>
			</dict>
			<key>C_giant_b_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{254,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,285},{254,226}}</string>
				<key>sourceSize</key>
				<string>{254,227}</string>
			</dict>
			<key>C_giant_b_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,525},{254,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,525},{254,243}}</string>
				<key>sourceSize</key>
				<string>{254,244}</string>
			</dict>
			<key>C_giant_b_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,771},{254,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,771},{254,252}}</string>
				<key>sourceSize</key>
				<string>{254,253}</string>
			</dict>
			<key>C_giant_b_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,514},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,514},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>C_giant_b_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,514},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,514},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>C_giant_b_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,770},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,770},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>C_giant_b_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,770},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,770},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>C_giant_b_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,514},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
			<key>C_giant_b_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{254,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,770},{254,254}}</string>
				<key>sourceSize</key>
				<string>{254,254}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x1024-ETC2-BeansTalk_BonusGame2_02-1e9db758.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x1024-ETC2-BeansTalk_BonusGame2_02-1e9db758.png</string>
		</dict>
	</dict>
</plist>
