<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_borderA_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_borderA_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_frame_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,254},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_frame_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,384},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,384},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_frame_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,254},{127,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_frame_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,124},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>A_frame_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,254},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,254},{127,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ball_c01.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,258},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,258},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,60},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c03.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,190},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,190},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c04.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,62},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,62},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c05.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,450},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,450},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c06.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,190},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,190},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c07.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,190},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{386,190},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c08.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,322},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,322},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c09.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,62},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,62},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,386},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,386},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,126},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,126},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,126},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,126},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,126},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,126},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c14.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,190},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,190},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ball_c15.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,190},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,190},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-512x512-ETC2-BeansTalk_RoomNumbers-5b0d223f.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-512x512-ETC2-BeansTalk_RoomNumbers-5b0d223f.png</string>
		</dict>
	</dict>
</plist>
