<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_womanC_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,768},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>D_womanC_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,252},{251,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,252},{250,256}}</string>
				<key>sourceSize</key>
				<string>{251,256}</string>
			</dict>
			<key>D_womanC_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,252},{246,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,252},{245,256}}</string>
				<key>sourceSize</key>
				<string>{246,256}</string>
			</dict>
			<key>D_womanC_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,260},{250,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,260},{249,247}}</string>
				<key>sourceSize</key>
				<string>{250,248}</string>
			</dict>
			<key>D_womanC_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,768},{255,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,768},{254,256}}</string>
				<key>sourceSize</key>
				<string>{255,256}</string>
			</dict>
			<key>D_womanC_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{254,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,252},{253,256}}</string>
				<key>sourceSize</key>
				<string>{254,256}</string>
			</dict>
			<key>D_womanC_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,510},{254,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,510},{253,256}}</string>
				<key>sourceSize</key>
				<string>{254,256}</string>
			</dict>
			<key>D_womanC_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,768},{254,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,768},{253,256}}</string>
				<key>sourceSize</key>
				<string>{254,256}</string>
			</dict>
			<key>D_womanC_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,510},{254,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,510},{253,256}}</string>
				<key>sourceSize</key>
				<string>{254,256}</string>
			</dict>
			<key>D_womanC_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{254,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,510},{253,256}}</string>
				<key>sourceSize</key>
				<string>{254,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_BonusGame1_04-9f6f4216.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_BonusGame1_04-9f6f4216.png</string>
		</dict>
	</dict>
</plist>
