<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,68},{293,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{672,68},{292,95}}</string>
				<key>sourceSize</key>
				<string>{293,96}</string>
			</dict>
			<key>Img_CardType_Plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,205},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,205},{53,48}}</string>
				<key>sourceSize</key>
				<string>{53,49}</string>
			</dict>
			<key>btn_Info_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,324},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,324},{154,40}}</string>
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>btn_Info_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,366},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,366},{154,40}}</string>
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>btn_Replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,256},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{842,256},{66,66}}</string>
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>btn_SelectFrame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,7},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{881,7},{52,59}}</string>
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>btn_SelectFrame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,169},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{881,169},{41,59}}</string>
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>btn_SelectFrame_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,35},{17,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,35},{17,13}}</string>
				<key>sourceSize</key>
				<string>{17,13}</string>
			</dict>
			<key>img_ClassLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,15},{348,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{348,3}}</string>
				<key>sourceSize</key>
				<string>{348,3}</string>
			</dict>
			<key>img_FrameBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,23},{62,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,23},{62,25}}</string>
				<key>sourceSize</key>
				<string>{62,25}</string>
			</dict>
			<key>img_FrameLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{879,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,50},{879,16}}</string>
				<key>sourceSize</key>
				<string>{879,16}</string>
			</dict>
			<key>img_JPsymbol_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,21},{68,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,21},{67,26}}</string>
				<key>sourceSize</key>
				<string>{68,27}</string>
			</dict>
			<key>img_JPsymbol_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,22},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,22},{73,25}}</string>
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>img_JPsymbol_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,20},{75,27}}</string>
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>img_JPsymbol_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,281},{82,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,281},{82,35}}</string>
				<key>sourceSize</key>
				<string>{82,36}</string>
			</dict>
			<key>img_JPsymbol_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,230},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,230},{52,49}}</string>
				<key>sourceSize</key>
				<string>{53,49}</string>
			</dict>
			<key>img_JPsymbol_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,205},{53,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{826,205},{52,49}}</string>
				<key>sourceSize</key>
				<string>{53,49}</string>
			</dict>
			<key>img_LeftBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,8},{174,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{174,5}}</string>
				<key>sourceSize</key>
				<string>{174,5}</string>
			</dict>
			<key>img_Rank_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{769,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,253},{768,85}}</string>
				<key>sourceSize</key>
				<string>{769,85}</string>
			</dict>
			<key>img_Rank_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{769,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,427},{768,85}}</string>
				<key>sourceSize</key>
				<string>{769,85}</string>
			</dict>
			<key>img_Rank_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{769,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,340},{768,85}}</string>
				<key>sourceSize</key>
				<string>{769,85}</string>
			</dict>
			<key>img_Rank_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{769,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,166},{768,85}}</string>
				<key>sourceSize</key>
				<string>{769,85}</string>
			</dict>
			<key>img_Rank_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,319},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{927,319},{55,57}}</string>
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>img_Rank_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,79},{334,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,79},{333,85}}</string>
				<key>sourceSize</key>
				<string>{334,85}</string>
			</dict>
			<key>img_Rank_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{334,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,79},{333,85}}</string>
				<key>sourceSize</key>
				<string>{334,85}</string>
			</dict>
			<key>img_Rank_mySelf.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,408},{109,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,408},{108,104}}</string>
				<key>sourceSize</key>
				<string>{109,104}</string>
			</dict>
			<key>img_TOP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,256},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,256},{69,66}}</string>
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
			<key>img_TOP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,378},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{927,378},{68,66}}</string>
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
			<key>img_TOP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,446},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{882,446},{69,66}}</string>
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x512-ETC2-All_GameIcon01-bb8fd03f_d1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x512-ETC2-All_GameIcon01-bb8fd03f_d1.png</string>
		</dict>
	</dict>
</plist>
