<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>D_door1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,814},{102,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1493,814},{101,118}}</string>
				<key>sourceSize</key>
				<string>{102,119}</string>
			</dict>
			<key>D_door1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,1920},{119,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1742,1920},{118,128}}</string>
				<key>sourceSize</key>
				<string>{119,128}</string>
			</dict>
			<key>D_door2_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,364},{89,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1365,364},{88,112}}</string>
				<key>sourceSize</key>
				<string>{89,113}</string>
			</dict>
			<key>D_door2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,951},{111,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1498,951},{110,126}}</string>
				<key>sourceSize</key>
				<string>{111,127}</string>
			</dict>
			<key>D_door3_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,987},{86,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1722,987},{85,109}}</string>
				<key>sourceSize</key>
				<string>{86,110}</string>
			</dict>
			<key>D_door3_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,1084},{109,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1543,1084},{108,123}}</string>
				<key>sourceSize</key>
				<string>{109,124}</string>
			</dict>
			<key>D_door4_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,481},{87,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1475,481},{86,106}}</string>
				<key>sourceSize</key>
				<string>{87,107}</string>
			</dict>
			<key>D_door4_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,1210},{110,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1543,1210},{109,122}}</string>
				<key>sourceSize</key>
				<string>{110,123}</string>
			</dict>
			<key>D_door5_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1235},{96,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1757,1235},{95,109}}</string>
				<key>sourceSize</key>
				<string>{96,110}</string>
			</dict>
			<key>D_door5_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1335},{118,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1335},{117,123}}</string>
				<key>sourceSize</key>
				<string>{118,124}</string>
			</dict>
			<key>D_doorA1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,1671},{47,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1881,1671},{46,124}}</string>
				<key>sourceSize</key>
				<string>{47,125}</string>
			</dict>
			<key>D_doorA1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,688},{39,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1704,688},{38,122}}</string>
				<key>sourceSize</key>
				<string>{39,123}</string>
			</dict>
			<key>D_doorA2_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,1114},{62,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1778,1114},{61,118}}</string>
				<key>sourceSize</key>
				<string>{62,119}</string>
			</dict>
			<key>D_doorA2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,212},{40,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1265,212},{39,120}}</string>
				<key>sourceSize</key>
				<string>{40,121}</string>
			</dict>
			<key>D_doorA3_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,365},{59,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1475,365},{58,113}}</string>
				<key>sourceSize</key>
				<string>{59,114}</string>
			</dict>
			<key>D_doorA3_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,586},{39,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1608,586},{38,114}}</string>
				<key>sourceSize</key>
				<string>{39,115}</string>
			</dict>
			<key>D_doorA4_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,858},{65,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1611,858},{64,112}}</string>
				<key>sourceSize</key>
				<string>{65,113}</string>
			</dict>
			<key>D_doorA4_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,588},{38,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1649,588},{37,112}}</string>
				<key>sourceSize</key>
				<string>{38,113}</string>
			</dict>
			<key>D_doorA5_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,255},{68,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1195,255},{67,112}}</string>
				<key>sourceSize</key>
				<string>{68,113}</string>
			</dict>
			<key>D_doorA5_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,588},{42,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1564,588},{41,112}}</string>
				<key>sourceSize</key>
				<string>{42,113}</string>
			</dict>
			<key>D_doorEfire_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,208},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{858,208},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,935},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1368,935},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,1680},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1499,1680},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,1680},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1629,1680},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1325},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1322,1325},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,1074},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,1074},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1074},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1023,1074},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,792},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1108,792},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,922},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{984,922},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_doorEfire_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,944},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1114,944},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_egg_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1423},{27,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1161,1423},{26,22}}</string>
				<key>sourceSize</key>
				<string>{27,23}</string>
			</dict>
			<key>D_egg_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1602},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1863,1602},{57,66}}</string>
				<key>sourceSize</key>
				<string>{58,67}</string>
			</dict>
			<key>D_egg_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,1030},{74,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1810,1030},{73,81}}</string>
				<key>sourceSize</key>
				<string>{74,82}</string>
			</dict>
			<key>D_egg_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,101},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,101},{74,69}}</string>
				<key>sourceSize</key>
				<string>{75,70}</string>
			</dict>
			<key>D_egg_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1566},{128,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{920,1566},{128,256}}</string>
				<key>sourceSize</key>
				<string>{128,256}</string>
			</dict>
			<key>D_egg_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,118},{61,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{460,118},{60,85}}</string>
				<key>sourceSize</key>
				<string>{61,86}</string>
			</dict>
			<key>D_egg_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,813},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1704,813},{71,82}}</string>
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>D_egg_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,898},{76,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1722,898},{75,86}}</string>
				<key>sourceSize</key>
				<string>{76,87}</string>
			</dict>
			<key>D_egg_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,1147},{72,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1842,1147},{71,85}}</string>
				<key>sourceSize</key>
				<string>{72,86}</string>
			</dict>
			<key>D_gooseA_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,703},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1592,703},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseA_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1381,590},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1381,590},{107,110}}</string>
				<key>sourceSize</key>
				<string>{108,111}</string>
			</dict>
			<key>D_gooseA_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,173},{103,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,173},{102,110}}</string>
				<key>sourceSize</key>
				<string>{103,111}</string>
			</dict>
			<key>D_gooseA_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,1332},{100,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1655,1332},{99,112}}</string>
				<key>sourceSize</key>
				<string>{100,113}</string>
			</dict>
			<key>D_gooseA_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,173},{100,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1093,173},{99,110}}</string>
				<key>sourceSize</key>
				<string>{100,111}</string>
			</dict>
			<key>D_gooseA_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1347},{100,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1757,1347},{99,108}}</string>
				<key>sourceSize</key>
				<string>{100,109}</string>
			</dict>
			<key>D_gooseA_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,479},{100,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1373,479},{99,108}}</string>
				<key>sourceSize</key>
				<string>{100,109}</string>
			</dict>
			<key>D_gooseA_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,1458},{100,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1754,1458},{99,108}}</string>
				<key>sourceSize</key>
				<string>{100,109}</string>
			</dict>
			<key>D_gooseA_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,206},{100,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{460,206},{99,108}}</string>
				<key>sourceSize</key>
				<string>{100,109}</string>
			</dict>
			<key>D_gooseA_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,370},{100,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1263,370},{99,108}}</string>
				<key>sourceSize</key>
				<string>{100,109}</string>
			</dict>
			<key>D_gooseA_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,481},{102,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1269,481},{101,108}}</string>
				<key>sourceSize</key>
				<string>{102,109}</string>
			</dict>
			<key>D_gooseA_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,1569},{107,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1754,1569},{106,108}}</string>
				<key>sourceSize</key>
				<string>{107,109}</string>
			</dict>
			<key>D_gooseA_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,973},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1611,973},{108,108}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>D_gooseA_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1447},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1609,1447},{108,108}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>D_gooseB_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,592},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1269,592},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseB_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,1337},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1191,1337},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseB_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,703},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1480,703},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseB_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,706},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1368,706},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseB_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,286},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,286},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseB_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,448},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1151,448},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseC_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,703},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1238,703},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>D_gooseC_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,559},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1151,559},{115,108}}</string>
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>D_gooseC_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,817},{123,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1368,817},{122,115}}</string>
				<key>sourceSize</key>
				<string>{123,116}</string>
			</dict>
			<key>D_gooseC_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,1099},{122,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1654,1099},{121,108}}</string>
				<key>sourceSize</key>
				<string>{122,109}</string>
			</dict>
			<key>D_gooseC_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,397},{119,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,397},{118,108}}</string>
				<key>sourceSize</key>
				<string>{119,109}</string>
			</dict>
			<key>D_gooseC_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,508},{119,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,508},{118,108}}</string>
				<key>sourceSize</key>
				<string>{119,109}</string>
			</dict>
			<key>D_gooseC_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,1687},{120,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1759,1687},{119,108}}</string>
				<key>sourceSize</key>
				<string>{120,109}</string>
			</dict>
			<key>D_gooseC_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1080},{125,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1413,1080},{124,112}}</string>
				<key>sourceSize</key>
				<string>{125,113}</string>
			</dict>
			<key>D_gooseC_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,1559},{127,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1499,1559},{126,118}}</string>
				<key>sourceSize</key>
				<string>{127,119}</string>
			</dict>
			<key>D_gooseC_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,445},{126,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{902,445},{125,119}}</string>
				<key>sourceSize</key>
				<string>{126,120}</string>
			</dict>
			<key>D_gooseC_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,1558},{124,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1628,1557},{123,119}}</string>
				<key>sourceSize</key>
				<string>{124,120}</string>
			</dict>
			<key>D_gooseC_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,86},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{858,86},{127,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>D_gooseC_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,670},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1108,670},{128,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>D_gooseC_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,1798},{127,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1759,1798},{126,119}}</string>
				<key>sourceSize</key>
				<string>{127,120}</string>
			</dict>
			<key>D_jackA_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,305},{197,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,305},{196,235}}</string>
				<key>sourceSize</key>
				<string>{197,236}</string>
			</dict>
			<key>D_jackA_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,338},{197,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{703,338},{196,226}}</string>
				<key>sourceSize</key>
				<string>{197,227}</string>
			</dict>
			<key>D_jackA_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,549},{214,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{487,549},{213,249}}</string>
				<key>sourceSize</key>
				<string>{214,250}</string>
			</dict>
			<key>D_jackA_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,543},{228,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,543},{227,256}}</string>
				<key>sourceSize</key>
				<string>{228,256}</string>
			</dict>
			<key>D_jackA_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1335},{248,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1335},{247,207}}</string>
				<key>sourceSize</key>
				<string>{248,208}</string>
			</dict>
			<key>D_jackB_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,567},{200,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{703,567},{199,226}}</string>
				<key>sourceSize</key>
				<string>{200,227}</string>
			</dict>
			<key>D_jackB_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,107},{200,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,107},{199,227}}</string>
				<key>sourceSize</key>
				<string>{200,228}</string>
			</dict>
			<key>D_jackB_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,317},{205,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,317},{204,223}}</string>
				<key>sourceSize</key>
				<string>{205,224}</string>
			</dict>
			<key>D_jackB_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,125},{201,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{655,125},{200,210}}</string>
				<key>sourceSize</key>
				<string>{201,211}</string>
			</dict>
			<key>D_jackBegg_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1824},{177,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{992,1824},{176,223}}</string>
				<key>sourceSize</key>
				<string>{177,224}</string>
			</dict>
			<key>D_jackBegg_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1594},{142,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1050,1594},{141,227}}</string>
				<key>sourceSize</key>
				<string>{142,228}</string>
			</dict>
			<key>D_jackBegg_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1820},{142,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1338,1820},{141,227}}</string>
				<key>sourceSize</key>
				<string>{142,228}</string>
			</dict>
			<key>D_jackBegg_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1820},{142,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1194,1820},{141,227}}</string>
				<key>sourceSize</key>
				<string>{142,228}</string>
			</dict>
			<key>D_jackC_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,619},{201,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{905,619},{200,174}}</string>
				<key>sourceSize</key>
				<string>{201,175}</string>
			</dict>
			<key>D_jackC_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1585},{175,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1322,1585},{174,127}}</string>
				<key>sourceSize</key>
				<string>{175,128}</string>
			</dict>
			<key>D_jackC_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1204},{166,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1023,1204},{165,131}}</string>
				<key>sourceSize</key>
				<string>{166,132}</string>
			</dict>
			<key>D_jackC_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1461},{155,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,1461},{154,95}}</string>
				<key>sourceSize</key>
				<string>{155,96}</string>
			</dict>
			<key>D_jackC_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1448},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1161,1448},{158,143}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>
			<key>D_jackC_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1940},{161,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1482,1940},{160,107}}</string>
				<key>sourceSize</key>
				<string>{161,108}</string>
			</dict>
			<key>D_jackC_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,796},{231,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,796},{230,247}}</string>
				<key>sourceSize</key>
				<string>{231,248}</string>
			</dict>
			<key>D_jackC_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1338},{143,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1016,1338},{142,225}}</string>
				<key>sourceSize</key>
				<string>{143,226}</string>
			</dict>
			<key>D_jackC_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,557},{255,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,557},{254,239}}</string>
				<key>sourceSize</key>
				<string>{255,240}</string>
			</dict>
			<key>D_jackC_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,802},{241,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{508,802},{240,241}}</string>
				<key>sourceSize</key>
				<string>{241,242}</string>
			</dict>
			<key>D_jackD_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,337},{247,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{246,217}}</string>
				<key>sourceSize</key>
				<string>{247,218}</string>
			</dict>
			<key>D_jackD_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1858},{223,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{767,1858},{222,189}}</string>
				<key>sourceSize</key>
				<string>{223,190}</string>
			</dict>
			<key>D_jackD_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1621},{151,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{767,1621},{150,234}}</string>
				<key>sourceSize</key>
				<string>{151,235}</string>
			</dict>
			<key>D_jackE_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1065},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1283,1065},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,814},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1238,814},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1195},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1413,1195},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1810},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1482,1810},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1455},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1322,1455},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1810},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1612,1810},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackE_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1195},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1283,1195},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>D_jackEfire_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,801},{251,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,801},{250,240}}</string>
				<key>sourceSize</key>
				<string>{251,241}</string>
			</dict>
			<key>D_jackEfire_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{252,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,799},{251,242}}</string>
				<key>sourceSize</key>
				<string>{252,243}</string>
			</dict>
			<key>D_jackEfire_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1052},{256,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{765,1052},{256,242}}</string>
				<key>sourceSize</key>
				<string>{256,243}</string>
			</dict>
			<key>D_jackEfire_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1294},{252,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{508,1294},{251,248}}</string>
				<key>sourceSize</key>
				<string>{252,249}</string>
			</dict>
			<key>D_jackEfire_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1545},{252,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1545},{251,249}}</string>
				<key>sourceSize</key>
				<string>{252,250}</string>
			</dict>
			<key>D_jackEfire_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1297},{252,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,1297},{251,246}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>
			<key>D_jackEfire_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1044},{252,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,1044},{251,250}}</string>
				<key>sourceSize</key>
				<string>{252,251}</string>
			</dict>
			<key>D_jackEfire_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1546},{252,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,1546},{251,248}}</string>
				<key>sourceSize</key>
				<string>{252,249}</string>
			</dict>
			<key>D_jackEfire_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1797},{252,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,1797},{251,250}}</string>
				<key>sourceSize</key>
				<string>{252,251}</string>
			</dict>
			<key>D_jackEfire_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1044},{252,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1044},{251,250}}</string>
				<key>sourceSize</key>
				<string>{252,251}</string>
			</dict>
			<key>D_jackEfire_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1797},{253,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1797},{252,250}}</string>
				<key>sourceSize</key>
				<string>{253,251}</string>
			</dict>
			<key>D_jackEfire_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1798},{255,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1798},{254,249}}</string>
				<key>sourceSize</key>
				<string>{255,250}</string>
			</dict>
			<key>D_jackEfire_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1046},{255,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{508,1046},{254,245}}</string>
				<key>sourceSize</key>
				<string>{255,246}</string>
			</dict>
			<key>D_jackEfire_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1297},{256,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1297},{255,247}}</string>
				<key>sourceSize</key>
				<string>{256,248}</string>
			</dict>
			<key>D_jackEfire_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1547},{256,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1547},{256,248}}</string>
				<key>sourceSize</key>
				<string>{256,249}</string>
			</dict>
			<key>D_jackEfire_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,136},{256,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,136},{256,166}}</string>
				<key>sourceSize</key>
				<string>{256,167}</string>
			</dict>
			<key>D_jackEfire_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1715},{256,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1194,1715},{256,102}}</string>
				<key>sourceSize</key>
				<string>{256,103}</string>
			</dict>
			<key>D_jackEfire_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,335},{256,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1265,335},{256,26}}</string>
				<key>sourceSize</key>
				<string>{256,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x2048-Crunch-BeansTalk_BonusGame1_01-2129d560.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x2048-Crunch-BeansTalk_BonusGame1_01-2129d560.png</string>
		</dict>
	</dict>
</plist>
