<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>E_giant_a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1010},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1010},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1270},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1270},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1790},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1790},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,880},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1530},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1530},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1660},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1660},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1530},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1530},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1790},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1790},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1920},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1920},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1400},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1400},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1270},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1270},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1140},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1140},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1790},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1790},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1010},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1010},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1920},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1920},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1270},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1270},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1660},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1660},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1140},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1140},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1660},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1660},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,750},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1400},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1400},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1920},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1920},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1530},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1530},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1400},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_giant_a_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1140},{256,128}}</string>
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>E_mask_a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,236},{122,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,236},{121,58}}</string>
				<key>sourceSize</key>
				<string>{122,59}</string>
			</dict>
			<key>E_mask_a_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,297},{125,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,297},{124,58}}</string>
				<key>sourceSize</key>
				<string>{125,59}</string>
			</dict>
			<key>E_mask_a_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,345},{120,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,345},{119,64}}</string>
				<key>sourceSize</key>
				<string>{120,64}</string>
			</dict>
			<key>E_mask_a_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,285},{83,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,285},{82,57}}</string>
				<key>sourceSize</key>
				<string>{83,58}</string>
			</dict>
			<key>E_mask_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,547},{123,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,547},{122,102}}</string>
				<key>sourceSize</key>
				<string>{123,103}</string>
			</dict>
			<key>E_mask_b_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,517},{127,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,517},{126,103}}</string>
				<key>sourceSize</key>
				<string>{127,104}</string>
			</dict>
			<key>E_mask_b_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,501},{118,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,501},{117,123}}</string>
				<key>sourceSize</key>
				<string>{118,124}</string>
			</dict>
			<key>E_mask_b_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,69},{83,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,69},{82,92}}</string>
				<key>sourceSize</key>
				<string>{83,93}</string>
			</dict>
			<key>E_mask_c_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1305},{128,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1305},{128,99}}</string>
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>E_mask_c_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,652},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,652},{128,104}}</string>
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>E_mask_c_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,627},{127,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,627},{126,120}}</string>
				<key>sourceSize</key>
				<string>{127,121}</string>
			</dict>
			<key>E_mask_c_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,358},{89,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,358},{88,82}}</string>
				<key>sourceSize</key>
				<string>{89,83}</string>
			</dict>
			<key>E_mask_d_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,487},{121,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,487},{120,99}}</string>
				<key>sourceSize</key>
				<string>{121,100}</string>
			</dict>
			<key>E_mask_d_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,393},{121,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,393},{120,105}}</string>
				<key>sourceSize</key>
				<string>{121,106}</string>
			</dict>
			<key>E_mask_d_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1537},{120,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1537},{119,124}}</string>
				<key>sourceSize</key>
				<string>{120,125}</string>
			</dict>
			<key>E_mask_d_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,865},{81,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{811,865},{80,83}}</string>
				<key>sourceSize</key>
				<string>{81,84}</string>
			</dict>
			<key>E_mask_e_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1204},{128,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1204},{128,98}}</string>
				<key>sourceSize</key>
				<string>{128,99}</string>
			</dict>
			<key>E_mask_e_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,789},{128,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{612,789},{128,101}}</string>
				<key>sourceSize</key>
				<string>{128,102}</string>
			</dict>
			<key>E_mask_e_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,759},{128,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,759},{128,118}}</string>
				<key>sourceSize</key>
				<string>{128,119}</string>
			</dict>
			<key>E_mask_e_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1118},{93,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,1118},{92,83}}</string>
				<key>sourceSize</key>
				<string>{93,84}</string>
			</dict>
			<key>E_mask_f_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,295},{123,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,295},{122,95}}</string>
				<key>sourceSize</key>
				<string>{123,96}</string>
			</dict>
			<key>E_mask_f_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,443},{121,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,443},{120,101}}</string>
				<key>sourceSize</key>
				<string>{121,102}</string>
			</dict>
			<key>E_mask_f_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,498},{128,119}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>E_mask_f_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,164},{100,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,164},{99,83}}</string>
				<key>sourceSize</key>
				<string>{100,84}</string>
			</dict>
			<key>E_mask_g_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,589},{128,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,589},{128,94}}</string>
				<key>sourceSize</key>
				<string>{128,95}</string>
			</dict>
			<key>E_mask_g_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,686},{123,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,686},{122,100}}</string>
				<key>sourceSize</key>
				<string>{123,101}</string>
			</dict>
			<key>E_mask_g_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{125,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,620},{124,127}}</string>
				<key>sourceSize</key>
				<string>{125,128}</string>
			</dict>
			<key>E_mask_g_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1830},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{898,1830},{92,90}}</string>
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>E_musicG_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,541},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,541},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,165},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{221,165},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,411},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{627,411},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,951},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{811,951},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,541},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{639,541},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,821},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{745,821},{64,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,951},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{745,951},{64,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1663},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,1663},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,357},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,357},{64,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1533},{64,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,1533},{63,128}}</string>
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>E_musicG_final_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,250},{97,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,250},{96,115}}</string>
				<key>sourceSize</key>
				<string>{97,116}</string>
			</dict>
			<key>E_musicG_final_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,671},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{740,671},{97,115}}</string>
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>E_musicG_final_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,671},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{639,671},{98,115}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>
			<key>E_musicG_final_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,893},{114,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,893},{113,115}}</string>
				<key>sourceSize</key>
				<string>{114,116}</string>
			</dict>
			<key>E_musicG_final_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1081},{101,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1081},{100,120}}</string>
				<key>sourceSize</key>
				<string>{101,121}</string>
			</dict>
			<key>E_musicG_final_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{103,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,112},{102,123}}</string>
				<key>sourceSize</key>
				<string>{103,124}</string>
			</dict>
			<key>E_musicG_final_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,374},{105,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,373},{104,124}}</string>
				<key>sourceSize</key>
				<string>{105,125}</string>
			</dict>
			<key>E_musicG_final_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,880},{106,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,880},{105,128}}</string>
				<key>sourceSize</key>
				<string>{106,128}</string>
			</dict>
			<key>E_musicG_final_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1011},{106,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,1011},{105,126}}</string>
				<key>sourceSize</key>
				<string>{106,127}</string>
			</dict>
			<key>E_musicG_final_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1407},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1407},{107,128}}</string>
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>E_musicG_final_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1010},{111,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1010},{110,128}}</string>
				<key>sourceSize</key>
				<string>{111,128}</string>
			</dict>
			<key>E_musicG_final_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1664},{120,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1664},{119,126}}</string>
				<key>sourceSize</key>
				<string>{120,127}</string>
			</dict>
			<key>E_musicG_final_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,623},{115,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,622},{114,124}}</string>
				<key>sourceSize</key>
				<string>{115,125}</string>
			</dict>
			<key>E_musicG_final_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,883},{114,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{388,882},{113,124}}</string>
				<key>sourceSize</key>
				<string>{114,125}</string>
			</dict>
			<key>E_musicG_final_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1923},{128,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1923},{128,124}}</string>
				<key>sourceSize</key>
				<string>{128,125}</string>
			</dict>
			<key>E_musicG_final_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,750},{119,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,750},{118,128}}</string>
				<key>sourceSize</key>
				<string>{119,128}</string>
			</dict>
			<key>E_musicG_final_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{117,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,238},{116,128}}</string>
				<key>sourceSize</key>
				<string>{117,128}</string>
			</dict>
			<key>E_musicG_final_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{119,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,368},{118,128}}</string>
				<key>sourceSize</key>
				<string>{119,128}</string>
			</dict>
			<key>E_musicG_final_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1793},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,1793},{121,128}}</string>
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>E_musicG_final_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,880},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,880},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x2048-Crunch-BeansTalk_BonusGame3_05-6e75a6e9.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x2048-Crunch-BeansTalk_BonusGame3_05-6e75a6e9.png</string>
		</dict>
	</dict>
</plist>
