<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o5.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{640,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o6.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o7.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_o8.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o3.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o4.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o5.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o6.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_o8.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_roll_w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{640,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>A_w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x512-ETC2-BeansTalk_MainGameAtlas-c9630c77.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x512-ETC2-BeansTalk_MainGameAtlas-c9630c77.png</string>
		</dict>
	</dict>
</plist>
