<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>C_fire_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,252},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,251},{55,63}}</string>
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>C_fire_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,64},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1917,64},{55,63}}</string>
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>C_fire_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,318},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,318},{58,60}}</string>
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>C_fire_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,570},{59,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,570},{58,62}}</string>
				<key>sourceSize</key>
				<string>{59,63}</string>
			</dict>
			<key>C_fire_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,66},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1855,66},{59,61}}</string>
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>C_fire_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,701},{59,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,701},{58,62}}</string>
				<key>sourceSize</key>
				<string>{59,63}</string>
			</dict>
			<key>C_fire_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,635},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,635},{57,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>C_fire_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,766},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,766},{58,64}}</string>
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>
			<key>C_fire_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,507},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,507},{58,60}}</string>
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>C_fire_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,444},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,444},{58,60}}</string>
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>C_fire_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,381},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,381},{58,60}}</string>
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>C_fire_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,832},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,832},{59,63}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>C_fire_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,64},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,64},{60,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>
			<key>C_fire_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,124},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1975,124},{58,59}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>C_fire_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,186},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,186},{55,63}}</string>
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>C_giant_a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,2},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,770},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,770},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,258},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,258},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,898},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,898},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,898},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,898},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,130},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,130},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,514},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,386},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,386},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,514},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,514},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,642},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,642},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,770},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,258},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,258},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,386},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,386},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,258},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,258},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,642},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,642},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,386},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,386},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,130},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,130},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,642},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,642},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,514},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,514},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,770},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,770},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,258},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,2},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,514},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,514},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,130},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,898},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,898},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,386},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,642},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,642},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,898},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,898},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_giant_a_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,770},{254,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,770},{254,126}}</string>
				<key>sourceSize</key>
				<string>{254,126}</string>
			</dict>
			<key>C_time_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1920,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1792,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,642},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,642},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1024,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,258},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,258},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,898},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,898},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1664,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1152,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,770},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,770},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,514},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1536,514},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,130},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_059.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,386},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,386},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>C_time_060.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,2},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_BonusGame2_01-03b6023d.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-2048x1024-Crunch-BeansTalk_BonusGame2_01-03b6023d.png</string>
		</dict>
	</dict>
</plist>
