<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_objectKgrowA_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,102},{88,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,102},{87,112}}</string>
				<key>sourceSize</key>
				<string>{88,113}</string>
			</dict>
			<key>A_objectKgrowA_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,102},{99,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{576,102},{98,112}}</string>
				<key>sourceSize</key>
				<string>{99,113}</string>
			</dict>
			<key>A_objectKgrowA_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,16},{103,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,16},{102,112}}</string>
				<key>sourceSize</key>
				<string>{103,113}</string>
			</dict>
			<key>A_objectKgrowA_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,96},{108,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,96},{107,125}}</string>
				<key>sourceSize</key>
				<string>{108,126}</string>
			</dict>
			<key>A_objectKgrowA_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,392},{108,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{845,392},{107,134}}</string>
				<key>sourceSize</key>
				<string>{108,135}</string>
			</dict>
			<key>A_objectKgrowA_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,224},{108,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,224},{107,142}}</string>
				<key>sourceSize</key>
				<string>{108,143}</string>
			</dict>
			<key>A_objectKgrowA_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,529},{108,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{845,529},{107,156}}</string>
				<key>sourceSize</key>
				<string>{108,157}</string>
			</dict>
			<key>A_objectKgrowA_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,217},{107,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{620,217},{106,170}}</string>
				<key>sourceSize</key>
				<string>{107,171}</string>
			</dict>
			<key>A_objectKgrowA_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,239},{98,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{742,239},{97,183}}</string>
				<key>sourceSize</key>
				<string>{98,184}</string>
			</dict>
			<key>A_objectKgrowA_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,110},{98,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,110},{97,197}}</string>
				<key>sourceSize</key>
				<string>{98,198}</string>
			</dict>
			<key>A_objectKgrowA_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{99,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,96},{98,211}}</string>
				<key>sourceSize</key>
				<string>{99,212}</string>
			</dict>
			<key>A_objectKgrowA_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,157},{100,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,157},{99,225}}</string>
				<key>sourceSize</key>
				<string>{100,226}</string>
			</dict>
			<key>A_objectKgrowA_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,131},{100,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,131},{99,238}}</string>
				<key>sourceSize</key>
				<string>{100,239}</string>
			</dict>
			<key>A_objectKgrowA_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,425},{101,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{742,425},{100,251}}</string>
				<key>sourceSize</key>
				<string>{101,252}</string>
			</dict>
			<key>A_objectKgrowA_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,385},{105,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,385},{104,262}}</string>
				<key>sourceSize</key>
				<string>{105,263}</string>
			</dict>
			<key>A_objectKgrowA_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,372},{112,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,372},{111,275}}</string>
				<key>sourceSize</key>
				<string>{112,276}</string>
			</dict>
			<key>A_objectKgrowA_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,390},{117,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{623,390},{116,286}}</string>
				<key>sourceSize</key>
				<string>{117,287}</string>
			</dict>
			<key>A_objectKgrowA_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,369},{119,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{499,369},{118,297}}</string>
				<key>sourceSize</key>
				<string>{119,298}</string>
			</dict>
			<key>A_objectKgrowA_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,320},{119,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,320},{118,306}}</string>
				<key>sourceSize</key>
				<string>{119,307}</string>
			</dict>
			<key>A_objectKgrowA_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,310},{119,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,310},{118,316}}</string>
				<key>sourceSize</key>
				<string>{119,317}</string>
			</dict>
			<key>A_objectKgrowA_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,698},{122,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,698},{121,325}}</string>
				<key>sourceSize</key>
				<string>{122,326}</string>
			</dict>
			<key>A_objectKgrowA_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,688},{123,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{748,688},{122,335}}</string>
				<key>sourceSize</key>
				<string>{123,336}</string>
			</dict>
			<key>A_objectKgrowA_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,679},{123,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{623,679},{122,344}}</string>
				<key>sourceSize</key>
				<string>{123,345}</string>
			</dict>
			<key>A_objectKgrowA_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,669},{122,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{499,669},{121,354}}</string>
				<key>sourceSize</key>
				<string>{122,355}</string>
			</dict>
			<key>A_objectKgrowA_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,660},{122,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,660},{121,363}}</string>
				<key>sourceSize</key>
				<string>{122,364}</string>
			</dict>
			<key>A_objectKgrowA_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,650},{123,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,650},{122,373}}</string>
				<key>sourceSize</key>
				<string>{123,374}</string>
			</dict>
			<key>A_objectKgrowA_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,640},{123,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,640},{122,383}}</string>
				<key>sourceSize</key>
				<string>{123,384}</string>
			</dict>
			<key>A_objectKgrowA_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,629},{123,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,629},{122,394}}</string>
				<key>sourceSize</key>
				<string>{123,395}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_MainGameAtlas01-80f46fe6.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-0-1024x1024-Crunch-BeansTalk_MainGameAtlas01-80f46fe6.png</string>
		</dict>
	</dict>
</plist>
