<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345821437655-15h4sql4c6ep2rt33t16ekh1mmsqpjn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345821437655-15h4sql4c6ep2rt33t16ekh1mmsqpjn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345821437655-b5ff5p12uf163ehe2up76m47ei5as6gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApw58KSWPwSaXAg3R0vzT8HuDJNU-4nx4</string>
	<key>GCM_SENDER_ID</key>
	<string>345821437655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bagelcode.slots1</string>
	<key>PROJECT_ID</key>
	<string>slots1-306a1</string>
	<key>STORAGE_BUCKET</key>
	<string>slots1-306a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345821437655:ios:9672c8bfbafc67ac</string>
	<key>DATABASE_URL</key>
	<string>https://slots1-306a1.firebaseio.com</string>
</dict>
</plist>