<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287103000814-12e1l8t2vbtuolp1tlni0gtelnms3gj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287103000814-12e1l8t2vbtuolp1tlni0gtelnms3gj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>287103000814-4n5kca4ld6gf3n515sm01irm01dkmm9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtuPp4iCIqL1c8gzVKHM-f2QczL-0Gz20</string>
	<key>GCM_SENDER_ID</key>
	<string>287103000814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bagelcode.slots3</string>
	<key>PROJECT_ID</key>
	<string>slots3-63666</string>
	<key>STORAGE_BUCKET</key>
	<string>slots3-63666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287103000814:ios:0df9cb6578d938c44e13ff</string>
</dict>
</plist>